.chat {
  display: flex;
  flex-direction: column;
  flex: 80%;
}
.chat-header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat-header-info {
  flex: 1;
  padding-left: 20px;
}
.chat-header-info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chat-header-info > p {
  color: gray;
}
.chat-header-right {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chat-body {
  flex: 1;
  padding: 30px;
  overflow-y: scroll;
  background-color: #d8d9d1;
}
.chat-reciever {
  margin-left: auto;
  background-color: #dcf8c6 !important;
}
.chat-message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  width: fit-content;
  margin-bottom: 30px;
}
.chat-name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
.chat-timestamp {
  margin-left: 10px;
  font-size: xx-small;
}
.chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-bottom: 1px solid lightgray;
  margin-right: 20px;
  margin-left: 20px;
}
.chat-footer > form {
  display: flex;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.chat-footer > form > input {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
}
