.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login-container {
  padding: 100px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1 px 3px rbga(0, 0, 0, 0.12), 0 1px;
}
.login-container > img {
  width: 100px;
}
.login-container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #018c87 !important;
  color: white;
  padding: 10px 20px;
}
